bootstrap/cache/services.php

docker

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

/node_modules
/vendor

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache

phpunit.xml
readme.md

Dockerfile
docker-compose-dev.yml
docker-compose-production.yml

.phpunit.result.cache

/.idea

.editorconfig
.dockerignore
