@import "bootstrap/dist/css/bootstrap.css";

.mb-45 {
    margin-bottom: 2rem !important;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.mb-7 {
    margin-bottom: 5rem !important;
}

.footer-height {
    height: 50px;
}

.fs-7 {
    font-size: 0.9rem !important;
}

.w-12rem {
    width: 12rem;
}

@media (max-width: 350px) {
    .fs-8 {
        font-size: 0.8rem !important;
    }
}
